<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8" />
  <title>
    <%= it.siteTitel %>
  </title>
  <meta name="description" content="<%= it.desc %>" />
  <meta name="author" content="<%= it.author %>" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/barebones.css" />
  <link rel="stylesheet" href="css/skeleton-legacy.css" />
  <link rel="stylesheet" href="css/mainMap.css" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon-16.png" />

  <script async defer src="/js/site.js"></script>
  <script src="https://kit.fontawesome.com/<%= it.fontawesomeKey %>.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>

  <link rel="stylesheet" href="./leafletCluster/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="./leafletCluster/dist/MarkerCluster.Default.css" />

  <script src="./leafletCluster/dist/leaflet.markercluster.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

  <script src="./js/site.js"></script>
</head>

<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="overlay">
    <div id="text">
      We've detected that there is a draft in your current session. Do you want to restore it?<br>
      <button class="button-primary" onclick="restoreFunc()">Yes, restore it</button>
      <button onclick="noRestore()">No, don't restore it</button>
    </div>
  </div>
  <div style="margin: 0px">
    <div class="map" id="map"></div>

    <div class="inspector" id="inspector">
      <br /><br /><br /><br />
      <center>
        <h3>Create a new elevator</h3>

      </center>
      <step id="step1">
        <h5>1. Add a location</h5>
        <p>Click anywhere on the map to create a pin. You can also use direct input to add cordinates.</p>
        <label for="lat">Latlitude: </label><input type="number" name="lat" id="lat">
        <label for="lng">Longlitude: </label><input type="number" name="lng" id="lng">
        <br>
        <button onclick="nextDialogePage()" class="button-primary">Next step <i class="fas fa-arrow-right"></i></button>
      </step>
      <step id="step2" style="display: none;">
        <h5>2. Add general information about the elevator</h5>
        <p>You may add images in the last step. Now please enter general information about the elevator.</p>
        <label for="type">Elevator type:</label>

        <select name="type" id="type">
          <option value="0">Hydraulic</option>
          <option value="1">Wiredriven, motor in shaft</option>
          <option value="2">Wiredriven, motor in motorroom</option>
          <option value="3">Unknown</option>
        </select>
        <label for="visit">Visitabilty:</label>
        <select name="visit" id="visit">
          <option value="1">Public</option>
          <option value="2">On private property</option>
          <option value="3">Public but locked</option>
        </select>
        <label for="pepl">Max. passangers:</label>
        <input type="number" step="1" min="1" id="pepl" name="pepl" value=4>
        <label for="weig">Max. Weight (kg):</label>
        <input type="number" step="1" min="1" id="weig" name="weig" value=0>
        <label for="flor">Amount of Floors:</label>
        <input type="number" step="1" min="1" id="flor" name="flor" value=0>


        <br>
        <button onclick="prevPage()">Go back one step <i class="fas fa-arrow-left"></i></button>
        <button onclick="nextDialogePage()" class="button-primary">Next step <i class="fas fa-arrow-right"></i></button>
      </step>
      <step id="step3" style="display: none;">
        <h5>3. Add a description</h5>
        <p>Add a description to the elevator. You may not use this field for advertisment.</p>
        <textarea id="description"></textarea>
        <label for="manuf">Manufacturer: </label>
        <input type="text" id="manuf" name="manuf">
        <label for="model">Modell: </label>
        <input type="text" id="model" name="model">
        <br>
        <button onclick="prevPage()">Go back one step <i class="fas fa-arrow-left"></i></button>
        <button onclick="nextDialogePage()" class="button-primary">Next step <i class="fas fa-arrow-right"></i></button>
      </step>
      <step id="step4" style="display: none;">
        <h5>4. Add images</h5>
        <p>This is the last step. You can now add images. <b>Make sure no personal information is visibel in the
            image.</b></p>
        <input type="file" id="myFile" name="myFile" multiple>

        <br>
        <button onclick="prevPage()">Go back one step <i class="fas fa-arrow-left"></i></button>
        <button onclick="nextDialogePage()" class="button-primary">Next step <i class="fas fa-arrow-right"></i></button>
      </step>
      <step class="missingAlert" id="missingAlert" style="display: none;">
        <i class="fas fa-exclamation-triangle"></i> There are some empty fields. Please check the previous pages for
        empty fields!<br>
        <button onclick="prevPage()">Go back one step <i class="fas fa-arrow-left"></i></button>
      </step>
      <step id="step5" style="display: none;">
        <h5>5. Ready</h5>
        <p>Are you sure you want to submit this elevator?</p>
        <button style="background-color: greenyellow;" onclick="submit()"><i class="fas fa-check"></i></button>

        <button onclick="currentPage = 3; updateDialog()">Go back one step <i class="fas fa-arrow-left"></i></button>
      </step>
      <step id="step6" style="display: none;">
        <h5>6. Saving</h5>
        <br><br>
        <center>
          <div class="lds-ripple">
            <div></div>
            <div></div>
          </div>
          <div style="display: none; color: grey;" id="imageUploadInfo">
            Uploading image -/-
          </div>
        </center>
      </step>
    </div>
  </div>

  <aside>
    <i style="color: black; cursor: pointer" class="fas fa-map-marker-alt" onclick="home()"></i>
  </aside>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="./js/createElevator.js"></script>
  <script type="text/javascript">
    L.tileLayer(
      "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=<%= it.mapboxAccessToken %>",
      {
        attribution:
          'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
        accessToken: "<%= it.mapboxAccessToken %>",
      }
    ).addTo(mymap);
  </script>
</body>

</html>