<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title><%= it.siteTitel %></title>
  <meta name="description" content="<%= it.desc %>">
  <meta name="author" content="<%= it.author %>">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/barebones.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon-16.png">


  <script async defer src="/js/site.js"></script>
  <script src="https://kit.fontawesome.com/<%= it.fontawesomeKey %>.js" crossorigin="anonymous"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="grid-container thirds" style="margin-top: 5%;">
    <div></div>
      <div>
        <h1><i style="color: red;" class="fas fa-exclamation-triangle"></i></h1>
      </div>
    </div>
  </div>

  <div class="grid-container thirds" style="margin-top: 5%;">
    <div></div>
      <div>
        <h1>Oh no!</h1>
            <%= it.displayText %>
              <br>
              <a href="/"><button class="button-primary">
                  Return to the startpage
              </button>
            </a>
        </p>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
